$page-color: #DCD8D0;
$grey-color: #99958F;

$small-screen: 1000px;
$tablet: 820px;

@mixin sectionPos {
  display: flex;
}

@mixin buttons {
  padding: 9px 18px;
	border-radius: 40px;
	border: none;
  cursor: pointer;
}

@mixin Suisse {
  @font-face {
    font-family: 'Suisse';
    src: url(/src/assets/fonts/SuisseIntl-Regular.otf);
  }
}

@mixin width1360 {
	max-width: 1360px;
	width: 100%;
}