@import '../../styles/variables.scss';

footer {
  background-color: black;
  color: white;

  .container {
    display: flex;
    justify-content: center;

    .links {
      display: flex;
      justify-content: space-between;
      margin: 24px 0;
      p {
        color: $grey-color;
        font-size: 15px;
      }

      .links-container {
        max-width: 282px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        div {
          display: flex;
          gap: 2px;
          align-items: center;
          a {
            p {
              color: $grey-color;
              font-size: 15px;
            }
          }
        }
      }
    }

    section {
      flex-direction: column;
      .grey-line-desc {
        width: 100%;
        height: 1px;
        background-color: $grey-color;
      }

      .grid {
        width: 100%;
        display: grid;
        grid-template-columns: minmax(0, 455px) auto;
        grid-template-rows: auto;
        gap: 60px;
        margin: 36px 0 94px 0;


        .left-container {
          display: flex;
          gap: 80px;
          flex-shrink: 0;
          align-items: flex-start;

          div {
            display: flex;
            flex-direction: column;
            gap: 6px;
            flex-shrink: 0 !important;

            a {
              color: $grey-color;
              display: block;

              &.active {
                color: white;
              }

              &:hover {
                color: white;
              }

              p {
                line-height: 26px;
              }
            }
          }
        }

        .right-container {
          width: 100%;
          display: grid;
          grid-gap: 5px;
          grid-template-columns: repeat(3, minmax(0, 235px));

          div {
            .grey-line {
              width: 100%;
              height: 1px;
              background-color: $grey-color;
              margin: 20px 0;
              display: none;
            }

            div {
              display: flex;
              gap: 12px;

              div {
                display: flex;
                gap: 6px;

                p {
                  span {
                    color: $grey-color;
                    font-size: 15px;
                  }
                }
              }
            }

            a {
              p {
                color: white;
                line-height: 20px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: $small-screen) {
  footer {
    .container {
      .links {
        margin-top: 0;
      }

      .links > p:first-of-type { 
        display: none;
      }
      section {
        .grey-line-desc {
          display: none;
        }

        .grid {
          display: block;
          margin: 80px 0 0 0;

          .left-container {
            display: none;
          }

          .right-container {
            display: block;

            div {
              .grey-line {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}