@import '/src/styles/variables.scss';

* {
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: $page-color;
}

section {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 40px;
}

h1, h2, h3 {
  @include Suisse;
  font-family: 'Suisse';
  font-weight: 400;
}
h1 {
  font-size: 72px;
}

h2 {
  font-size: 46px;
  margin: 0;
}

h3 {
  font-size: 30px;
  color: black;
  padding: 32px 0;

  &:hover {
    opacity: 0.75;
  }
}

p {
  @include Suisse;
  font-family: 'Suisse', sans-serif;
  font-weight: 450;
  font-size: 18px;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

@media (max-width: $tablet) {
  section {
    margin: 30px 20px;
  }

  h1 {
    font-size: 40px;
  }
}